.goog-logo-link {
   display:none !important;
}
.goog-te-gadget{
   color: transparent !important;
   border-color: transparent !important;
   background-color: transparent !important;
}
.goog-te-gadget .goog-te-combo{
   color: black !important;
   width: 200px;
   padding: 2px;
   border-radius: 20px;
   font-size: 11px;

   border-color: transparent !important;
   background-color: #C4E2FF !important;
}